# Dependencies
node_modules/
jspm_packages/
.pnp*

# Environment & Secrets
.env*
!.env.example

# Logs & Debug
logs
*.log
*debug.log*

# Build & Coverage
dist/
build/
coverage/
.nyc_output/

# IDE & OS
.DS_Store
.vscode/
.idea/

# Ignore user uploaded images
public/images/17*
